<!-- <div class="container mt-5">
  <div class="col">
    <div class="card bg-light mb-3" style="max-width: 100rem;">
      <div class="card-header createHeader">Список книг</div>
      <div class="card-body text-info">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Назва</th>
              <th scope="col">Автор</th>
              <th scope="col">Рік</th>
              <th scope="col">Жанр</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of readData">
              <th scope="row"></th>
              <td>{{item.name}}</td>
              <td>{{item.author}}</td>
              <td>{{item.year}}</td>
              <td>{{item.genre}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div> -->

<!-- <div class="container mt-5">
  <div class="col">
    <div class="row">
      <div class="col createBlock">
        <form action="">
          <div class="card bg-light mb-3" style="max-width: 100rem;">
            <div class="card-header createHeader">Створити запис про книгу</div>
            <div class="card-body text-info">
              <input type="text" class="form-control" placeholder="Назва">
              <input type="text" class="form-control" placeholder="Автор">
              <input type="text" class="form-control" placeholder="Рік">
              <input type="text" class="form-control" placeholder="Жанр">
              <hr>
            </div>
            <div class="bt">
              <button class="btn btn-primary">Створити</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div> -->
