<div class="container">
    <div class="row">
        <div class="col-sm-4 container mainBody">
            <h1> Клієнти </h1>
            <hr> 
            <div class="clientsBlock">
                <a routerLink="create" class="btn btn-success btn-sm">Створити</a>
                <br>
                <a routerLink="read" class="btn btn-primary btn-sm">Переглянути</a>
            </div>
        </div>
        
        <div class="col-sm-4 container mainBody">
            <h1> Цінні папери </h1>
            <hr> 
            <div class="clientsBlock">
                <a routerLink="create-secur" class="btn btn-success btn-sm">Створити</a>
                <br>
                <a routerLink="read-secur" class="btn btn-primary btn-sm">Переглянути</a>
            </div>
        </div>

        <div class="col-sm-4 container mainBody">
            <h1> Інвестиції </h1>
            <hr> 
            <div class="clientsBlock">
                <a routerLink="create-secur" class="btn btn-success btn-sm">Створити</a>
                <br>
                <a routerLink="read" class="btn btn-primary btn-sm">Переглянути</a>
            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>