<div class="container-fluid">
  <div class="row justify-content-md-center">
    <div class="col">
      <div class="card text-white bg-dark mb-3">
        <div class="card-header createHeader">
          <div class="row">
            <div class="col-6">
              <button class="btn btn-primary"><a  style="text-decoration: none; color: white;" routerLink="create">Створити книгу</a></button>
            </div>
            <div class="col-6">
              <button class="btn btn-primary"><a style="text-decoration: none; color: white;" routerLink="show">Показати список книг</a></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
