<mat-toolbar color="{{colors[curentclr]}}">
  <button (click)="rel()" routerLink="" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>import_contacts</mat-icon>
  </button>
  <span>
    <h2>Лабораторна робота №10</h2>
  </span>
  <button (click)="changeColor()" routerLink="" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>invert_colors</mat-icon>
  </button>
  <span class="example-spacer"></span>

</mat-toolbar>
<router-outlet></router-outlet>
