<div class="col-6 offset-4 container">

    <div *ngIf="errormsg" class="col-8 alert alert-danger alert-dismissible fade show" role="alert">
        <strong>{{errormsg}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <div *ngIf="successmsg" class="col-8 alert alert-success alert-dismissible fade show" role="alert">
        <strong>{{successmsg}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <form [formGroup]="investForm" (ngSubmit)="investSubmit()">
        <div class="col-lg-8 mt-2">
            <h3>Форма для створення інвестиції</h3>
            <input class="form-control" type="text" formControlName="cID" id="" placeholder="Клієнт">
        </div>

        <div class="col-lg-8 mt-2">
            <input class="form-control" type="text" formControlName="SecuritiesID" id="" placeholder="Цінний папір">
        </div>

        <div class="col-lg-8 mt-2">
            <input class="form-control" type="text" formControlName="quotation" id="" placeholder="Котирування">
        </div>

        <div class="col-lg-8 mt-2">
            <label for="inputDate">Дата купівлі</label>
            <input type="date" formControlName="purchaseDate" class="form-control" placeholder="Дата купівлі">
        </div>

        <div class="col-lg-8 mt-2">
            <label for="inputDate">Дата продажу</label>
            <input type="date" formControlName="saleDate" class="form-control" placeholder="Дата купівлі">
        </div>

        <div class="col-lg-8 mt-2">
            <button class="btn btn-primary btn-sm">Створити</button>
        </div>
    </form>
</div>