<div class="col-8 offset-2 container clientTable">
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>id клієнта</th>
                <th>id цінного паперу</th>
                <th>Котирування</th>
                <th>Дата купівлі</th>
                <th>Дата продажу</th>
                <th>Функції</th>
            </tr>
        </thead>
        <tbody *ngFor = 'let us of readData'>
            <tr>
                <td>{{us.iID}}</td>
                <td>{{us.cID}}</td>
                <td>{{us.SecuritiesID}}</td>
                <td>{{us.quotation}}</td>
                <td>{{us.purchaseDate | date:'shortDate'}}</td>
                <td>{{us.saleDate | date:'shortDate'}}</td>
                <td>
                    <button class="btn-sm btn-danger" (click)="deleteInvest(us.iID)">Видалити</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
