pre{
  text-align: left;
}

.createBlock{
}

.createHeader{
  color: rgb(58, 131, 210);
}

input{
  margin: 2% auto;
  background-color: rgb(57, 56, 56);
}

button{
  margin-bottom: 2%;
  margin-top: 0;
}
hr{
  margin-bottom: 0;
}

